<div id="grid">

  <div class="grid-element">

  <%=  image_tag "7-cats-in-various-colours.jpg", id:"cat1" %>

</div>

<div class="grid-element">

<%= image_tag "cat-in-chair.jpg", id:"cat2" %>

</div>

<div class="grid-element">

<%= image_tag "cat-in-the-city.jpg", id:"cat3" %>

</div>


<div class="grid-element">

<%= image_tag "cat-looking-up.jpg", id:"cat4" %>
</div>

<div class="grid-element">

<%= image_tag "green-eyed-cat-1418397265jKn.jpg", id:"cat5" %>
</div>


<div class="grid-element">

</div>

<div class="grid-element">

<%= image_tag "noidea.jpg", id:"cat6" %>
</div>



</div>

<div class="clear"></div>
