<body>
    <div>Registration closes in <span id="time">25:00</span> minutes!</div>
</body>


when you click this button the clock will start ticking

<div id="button_start_timer">

<%= button_tag "Start", :class => "btn btn-primary", :type => "button", :id => "start_timer", :size => "166x66" %>
<!--
<%= button_tag "Resume", :class => "btn btn-primary", :type => "button", :id => "resume_timer", :size => "166x66" %>
<%= button_tag "Resume", :class => "btn btn-primary", :type => "button", :id => "reset_timer", :size => "166x66" %> -->

<%= button_tag "Stop", :class => "btn btn-primary", :type => "button", :id => "stop_timer", :size => "166x66" %>
<%= button_tag "Resume", :class => "btn btn-primary", :type => "button", :id => "resume_timer", :size => "166x66", :style => "display: none;" %>

<!--
<%= button_tag "Stop", :class => "btn btn-primary", :type => "button", :id => "stop_resume_timer", :size => "166x66" %> -->


</div>
