<h1>Meditation Timer</h1>


<div id="countdown_body">
  <h3>Can you find the Now?<br>
     Start the timer and find out...</h3>

    How many minutes do you want to meditate? <input type="text" id="meditation_time"><br><br>
    How often would you like hear bells (in minutes)? <input type="text" id="interval_time"><br><br>


    <div id="button_start_timer">

      <%= button_tag "Start", :class => "btn btn-primary", :type => "button", :id => "start_meditation", :size => "166x66" %>
      <!--
      <%= button_tag "Resume", :class => "btn btn-primary", :type => "button", :id => "resume_timer", :size => "166x66" %>
      <%= button_tag "Resume", :class => "btn btn-primary", :type => "button", :id => "reset_timer", :size => "166x66" %> -->

      <%= button_tag "Stop", :class => "btn btn-primary", :type => "button", :id => "stop_meditation", :size => "166x66" %>
      <%= button_tag "Resume", :class => "btn btn-primary", :type => "button", :id => "resume_meditation", :size => "166x66", :style => "display: none;" %>

      <!--
      <%= button_tag "Stop", :class => "btn btn-primary", :type => "button", :id => "stop_resume_timer", :size => "166x66" %> -->


    </div>
    <!-- <h3><span id="time">25:00</span> </h3> -->
    <h3><span id="time"></span> </h3>

  </div>
