<h1>Can you guess the movie?</h1>

<div id="accordion-mystery">
  <h3>First Hint</h3>
  <div>
    <%= image_tag "rose.gif" %>
    <%= image_tag "candelabra.jpg" %>
    <%= image_tag "chandelier.jpg" %>
  </div>
  <h3>Second Hint</h3>
  <div>
    <%= image_tag "mask.jpg" %>
  </div>
  <h3>Final Hint</h3>
  <div>
    <p>
      <!-- https://howilearnedrails.wordpress.com/2014/08/25/play-audio-file-on-button-click-in-rails/ -->
      <%= audio_tag "mystery.mp3", class: "audio-play" %>
      <%= audio_tag "mystery.ogg", class: "audio-play" %>

      <p class="btn btn-primary audioButton">Play</p>
    </p>
  </div>
  <h3 id="mystery_music">Show Answer</h3>
  <div>
    <p>
      The movie is The Phantom of the Opera.
    </p>
  </div>
</div>
<!--
<script>
$(function() {
$( "#accordion" ).accordion();
});
</script> -->
