<% provide(:title, "Projects") %>

<h1>Projects</h1>

<h3>Here are some of my recent projects</h3>
<br>

<%= link_to "Superhero Secrets", posts_path %>
<p>I built this using the Devise Gem for the Authorization and Authentication features.<br>
  I used the Paperclip Gem and Amazon's Hosting to store the images.<br>
  Everyone can see the superhero names and images, but only members can see the superhero secrets.<br>
  Become a member by Signing Up.<br>
  Members can edit and delete only their own secrets.<br>
</p>

<br>
<%= link_to "Carousel Pics", carousel_path %>
<p>I built this using the Owl Carousel Gem. It is responsive to Touch Screens.</p>

<br>
<%= link_to "Lite-Brite", litebrite_path %>
<p>I built this using JQuery. There is even a random colors option.</p>

<br>
<%= link_to "Contact Form", new_contact_form_path %>
<p>I built this using a combination of the Simple Form and Mail Form Gems.
  I am able to receive secure messages via SendGrid.
</p>

<br>
<%= link_to "Holmes and Rahe stress scale", stress_path %>
<p>I built this using JavaScript.
   Click on the checkboxes to find out how stressed your life has been.
</p>

<br>
<%= link_to "Start and Pause the Changing Background Color", background_color_path %>
<p>I built this using JQuery.
   You can start and pause the continuous changing of the webpage's background color.
</p>


<br>
<h4>And More to Come...</h4>
