<% provide(:title, "Projects") %>

<h1>Projects</h1>

<h3>Here are some of my recent projects</h3>
<br>

<%= link_to "Superhero Secrets", posts_path %>
<p>I built this using the Devise Gem for the Authorization and Authentication features.<br>
  I used the Paperclip Gem and Amazon's Hosting to store the images.<br>
  Everyone can see the superhero names and images, but only members can see the superhero secrets.<br>
  Become a member by Signing Up.<br>
  Members can edit and delete only their own secrets.<br>
</p>

<br>
<%= link_to "Carousel Pics", carousel_path %>
<p>I built this using the Owl Carousel Gem. It is responsive to Touch Screens.</p>

<br>
<%= link_to "Lite-Brite", litebrite_path %>
<p>I built this using JQuery. There is even a random colors option.</p>

<br>
<%= link_to "Contact Form", new_contact_form_path %>
<p>I built this using a combination of the Simple Form and Mail Form Gems.
  I am able to receive secure messages via SendGrid.
</p>

<br>
<%= link_to "Holmes and Rahe stress scale", stress_path %>
<p>I built this using JavaScript.
   Click on the checkboxes to find out how stressed your life has been.
</p>

<br>
<%= link_to "Start and Pause the Changing Background Color", background_color_path %>
<p>I built this using JQuery.
   You can start and pause the continuous changing of the webpage's background color.
</p>


<br>
<%= link_to "Compound Interest Calculator", calculations_index_path %>
<p>Enter your age, initial contribution, and the interest rate you expect to learn.
Find out how much your money will be worth when you retire thanks to compound interest.

</p>


<br>
<%= link_to "Eye See You", eye_see_path %>
<p>Each time you load the page, a random set of eyes will follow your every mouse movement.
  Built with JQuery and JavaScript.

</p>



<br>
<%= link_to "Real Time Calculator", calculators_index_path %>
<p>This calculator performs operations in real-time.
  I used AJAX (Asynchronous JavaScript and XML) to
  allow the calculations to occur and be displayed without having to reload the page.

</p>


<br>
<%= link_to "Spinning Wheel", spinning_wheel_path %>
<p>I'm not exactly sure what I built or why I built this :) In any event,
  the image rotates and pauses rotation when you press the Start/Pause button.
  The JQuery Rotate library was used for this effect.
</p>




<br>
<%= link_to "Tip Calculator", tip_calculator_path %>
<p>This is a simple tip calculator that uses JavaScript to perform the calculation.
  There are validations to ensure that the only positive numbers are accepted.
</p>



<br>
<%= link_to "Mystery Movie", mystery_movie_path %>
<p>Can you guess what the mystery movie is? <br>
  I built this using the JQuery UI which provides the Accordion User Interface.
  The hints are comprised of images and an audio clip.
</p>



<br>
<%= link_to "Pomodoro Timer", countdown_path %>
<p>See how much you can get done in 25 minutes of focused effort.
  This timer has a start and reset as well as a pause and resume.
</p>


<br>
<%= link_to "Make It Rain", rain_path %>
<p>This is a silly and fun application of JQuery and JavaScript event handlers.
  Click on the cloud and make it rain, except metaphorically ;)
</p>





<br>
<h4>And More to Come...</h4>
