<% provide(:title, "Project Images") %>

<h1>Project Images</h1>

<div id="project-carousel">
<h3>Click on the image to visit the site</h3>
</div>

<div id="jumb3">
  <div class="pic">
    <%= link_to (image_tag "carousel/carousel1.PNG"), cats_path %>
  </div>
  <div class="pic">
    <%= link_to (image_tag  "carousel/carousel2.PNG"), "http://www.bryanttunbutr.com/clock.html" %>
  </div>
  <div class="pic">
    <%= link_to (image_tag "carousel/carousel3.PNG"), random_quote_path %>
  </div>
  <div class="pic">
    <%= link_to (image_tag "carousel/carousel4.PNG"), eye_see_path %>
  </div>

  <div class="pic">
    <%= link_to (image_tag "carousel/carousel5.PNG"), litebrite_path %>
  </div>
  <div class="pic">
    <%= link_to (image_tag "carousel/carousel6.PNG"), meditation_path %>
  </div>

  <div class="pic">
    <%= link_to (image_tag "carousel/carousel7.PNG"), rain_path %>
  </div>
  <div class="pic">
    <%= link_to (image_tag "carousel/carousel8.PNG"), recipe_path %>
  </div>

  <div class="pic">
    <%= link_to (image_tag "carousel/carousel9.PNG"), posts_path %>
  </div>

  <div class="pic">
    <%= link_to (image_tag "carousel/carousel10.PNG"), tasks_path %>
  </div>




</div>
