<% provide(:title, "Project Images") %>

<div id="jumb3">
  <div class="pic">
    <%= image_tag "carousel/carousel1.PNG" %>
  </div>
  <div class="pic">
    <%= image_tag "carousel/carousel2.PNG" %>
  </div>
  <div class="pic">
    <%= image_tag "carousel/carousel3.PNG" %>
  </div>
  <div class="pic">
    <%= image_tag "carousel/carousel4.PNG" %>
  </div>

  <div class="pic">
    <%= image_tag "carousel/carousel5.PNG" %>
  </div>
  <div class="pic">
    <%= image_tag "carousel/carousel6.PNG" %>
  </div>

  <div class="pic">
    <%= image_tag "carousel/carousel7.PNG" %>
  </div>
  <div class="pic">
    <%= image_tag "carousel/carousel8.PNG" %>
  </div>

  <div class="pic">
    <%= image_tag "carousel/carousel9.PNG" %>
  </div>


</div>
