<% provide(:title, "Projects") %>

<h1>Projects</h1>

<h3>Here are some of my recent projects</h3>
<br>

<p>For the complete story about how I built these sites check out my <%= link_to "Blog Descriptions", "https://bryanttunbutr.wordpress.com/category/sites-i-built/" %>.

</p>

<%= link_to "Superhero Secrets", posts_path %>
<p>I built this using the Devise Gem for the Authorization and Authentication features.<br>
  I used the Paperclip Gem and Amazon's Hosting to store the images.<br>
  Everyone can see the superhero names and images, but only members can see the superhero secrets.<br>
  Become a member by Signing Up.<br>
  Members can edit and delete only their own secrets.<br>
</p>

<br>
<%= link_to "Carousel Pics", carousel_path %>
<p>I built this using the Owl Carousel Gem. It is responsive to Touch Screens.</p>

<br>
<%= link_to "Lite-Brite", litebrite_path %>
<p>I built this using JQuery. There is even a random colors option.</p>

<br>
<%= link_to "Contact Form", new_contact_form_path %>
<p>I built this using a combination of the Simple Form and Mail Form Gems.
  I am able to receive secure messages via SendGrid.
</p>

<br>
<%= link_to "Holmes and Rahe stress scale", stress_path %>
<p>I built this using JavaScript.
  Click on the checkboxes to find out how stressed your life has been.
</p>

<br>
<%= link_to "Start and Pause the Changing Background Color", background_color_path %>
<p>I built this using JQuery.
  You can start and pause the continuous changing of the webpage's background color.
</p>

<br>
<%= link_to "Compound Interest Calculator", calculations_index_path %>
<p>Enter your age, initial contribution, and the interest rate you expect to learn.
  Find out how much your money will be worth when you retire thanks to compound interest.
</p>

<br>
<%= link_to "Eye See You", eye_see_path %>
<p>Each time you load the page, a random set of eyes will follow your every mouse movement.
  Built with JQuery and JavaScript.
</p>

<br>
<%= link_to "Real Time Calculator", calculators_index_path %>
<p>This calculator performs operations in real-time.
  I used AJAX (Asynchronous JavaScript and XML) to
  allow the calculations to occur and be displayed without having to reload the page.
</p>

<br>
<%= link_to "Spinning Wheel", spinning_wheel_path %>
<p>I'm not exactly sure what I built or why I built this :) In any event,
  the image rotates and pauses rotation when you press the Start/Pause button.
  The JQuery Rotate library was used for this effect.
</p>

<br>
<%= link_to "Tip Calculator", tip_calculator_path %>
<p>This is a simple tip calculator that uses JavaScript to perform the calculation.
  There are validations to ensure that the only positive numbers are accepted.
</p>

<br>
<%= link_to "Mystery Movie", mystery_movie_path %>
<p>Can you guess what the mystery movie is? <br>
  I built this using the JQuery UI which provides the Accordion User Interface.
  The hints are comprised of images and an audio clip.
</p>

<br>
<%= link_to "Pomodoro Timer", countdown_path %>
<p>See how much you can get done in 25 minutes of focused effort.
  This timer has a start and reset as well as a pause and resume.
</p>

<br>
<%= link_to "Make It Rain", rain_path %>
<p>This is a silly and fun application of JQuery and JavaScript event handlers.
  Click on the cloud and make it rain, except metaphorically ;)
</p>

<br>
<%= link_to "Sticky Notes", tasks_path %>
<p>These are like Post It Notes, but you don't have to worry about them falling off.
  This was built with Ruby on Rails and lots of CSS Styling, plus a personalized (aka horrible) button design by myself.
</p>

<br>
<%= link_to "Action Cats", cats_path %>
<p>Since cats own the internet, I let them take over one of my pages.
  These are JQuery rotations and animations and many event handlers.
</p>

<br>
<%= link_to "Weather Now", weather_path %>
<p>Enter a city and find out its current temperature. This was made using the
  <%= link_to "Open Weather Map API", "http://openweathermap.org/api" %> which
  provided data in the JSON format.
</p>

<br>
<%= link_to "360 Rotation", rotating_pics_path %>
<p>This displays the panoramic view of a pot and a
  <%= link_to "Koopa Troopa", "http://amiamour.com/" %> by using <%= link_to "JQuery Reel", "http://jquery.vostrel.cz/reel" %>.
  See for yourself by clicking on an image or by clicking on an image and then moving the mouse to the right.
</p>

<br>
<%= link_to "Scrambled Words", scrambled_words_path %>
<p>This shows a scrambled word and then checks to see if your guess matches the correct answer.
  JavaScript and JQuery functions were used along with Regular Expressions to allow empty spaces in the guesses.
</p>

<br>
<%= link_to "Pros and Cons List", pros_cons_path %>
<p>This was inspired by Benjamin Franklin's technique for making decisions.
  To help you decide, type in the situation in the top box and then add the pros and cons in the boxes below.
  Finally clear away your worries by pressing the Clear Everything button. This was built with JavaScript and JQuery.
</p>

<br>
<%= link_to "Random Quote Generator", random_quote_path %>
<p>This idea came from Free Code Camp's <%= link_to "Random Quote Generator", "http://www.freecodecamp.com/challenges/zipline-build-a-random-quote-machine" %>.
  I have added a random image in addition to the random quote. Furthermore, neither the same image nor the same quote will appear twice in a row.
</p>

<br>
<%= link_to "Design a Webpage", "http://www.bryanttunbutr.com/webdev.html" %>
<p>This idea came from Codecademy's <%= link_to "Website Project", "https://www.codecademy.com/courses/html-css-prj" %>.
  This was done exclusively with HTML and CSS. It was great a learning experience to get back to the basics,
  however, I am more than happy to return to using Twitter Bootstrap and Sass.
</p>

<br>
<%= link_to "Find Recipes", recipe_path %>
<p>Enter an ingredient and get recipes and nutritional information instantly.
  This was made using the
  <%= link_to "Edamam's Recipe Search and Diet API", "https://developer.edamam.com/recipe-api" %>
  which provides access to over 1.5 million recipes from over 500 sites.
</p>


<br>
<%= link_to "Calendar and Date Tool", days_from_path %>
<p>Find the difference between two dates or find a date in the future by entering a number. Built with JQuery UI.
</p>

<br>
<%= link_to "Bouncing Balls", "http://www.bryanttunbutr.com/bouncing.html" %>
<p>This used HTML Canvas with JavaScript and was based on this <%= link_to "tutorial", "https://www.youtube.com/watch?v=uogkgz9U9Ik" %>.
This site shows how a project can unify physics, JQuery, HTML animation, mouse listeners, and much more.
</p>

<br>
<%= link_to "Meditation Timer", meditation_path %>
<p>This site used the <%= link_to "Pomodoro Timer", countdown_path %>
  as a starting point. <br>
  This page lets you determine the duration of meditation, how often to hear reminder bells,
  and even lets you pause and resume your meditation.
</p>

<br>
<%= link_to "Fun with Closures", closure_path %>
<p>This site is a simple explanation with demonstrations of JavaScript Closures.
  For more information and helpful links, visit my <%= link_to "blog entry ", "https://bryanttunbutr.wordpress.com/2015/08/25/fun-with-closures/" %>
</p>

<br>
<%= link_to "Clock", "http://www.bryanttunbutr.com/clock.html" %>
<p>This clock displays the time and city.
  This site uses the Telize API to ascertain the current city by the IP Address
  and JavaScript functions to detect and display
  the browser's current time.
</p>

<br>
<%= link_to "Projects Slideshow", projects_carousel_path %>
<p>This displays a few of my projects using The Owl Carousel Gem.
  The carousel responds to touch navigation and the images are links to the sites.
</p>

<br>
<%= link_to "Flashcards", flashcards_path %>
<p>These are flash cards built using Ruby on Rails with the JQuery UI Accordion.
  This site uses Active Record to manage the logic and the data.
</p>

<br>
<%= link_to "Are you ready for your first programming job?", survey_path %>
<p>Take this (somewhat satirical) survey and find out if you are ready for your first developer job.
  Built with JQuery and JavaScript, it is similar to my
  <%= link_to "Holmes and Rahe stress scale", stress_path %> but built even more efficiently and effectively.
</p>

<br>
<%= link_to "Sedona Method", sedona_method_path %>
<p>This is an introduction to
<%= link_to "The Sedona Method", "http://www.sedona.com/sample-of-process.asp" %> which is a set of simple questions designed to release stress.
  Built with JQuery and JavaScript with a few well-thought out loops, if-else statements, and conditional logic constructs.
</p>

<br>
<%= link_to "Popping Balloons", "http://www.bryanttunbutr.com/balloons.html" %>
<p>This site used HTML Canvas with JavaScript and was based on this <%= link_to "guide", "http://adamtshort.co.uk/web/creating-a-balloon-popping-game-using-html5-canvas-and-javascript/" %>.
I added more balloon colors, a pop up message when the last balloon has been popped,
and the ability to add more balloons.
</p>

<br>
<%= link_to "Translator", translate_path %>
<p>This site uses the Yandex API for translation. JavaScript functions allow translations to occur without a page reload.
</p>

<br>
<%= link_to "HTML5 Canvas", canvas_path %>
<p>This was just me playing around with some drawings and animations using HTML5's Canvas in conjunction with JavaScript functions.
</p>

<br>
<%= link_to "Likable Pets", pets_path %>
<p>This used Ruby on Rails along with Amazon Web Services to store images of likable pets.
  The Paperclip Gem was used to attach the images while AJAX was used to track the number of likes.
</p>

<br>
<%= link_to "Reflections", reflection_path %>
<p>This was built with JQuery UI Tabs. These are my reflections on my building, blogging, and learning.
</p>

<br>
<%= link_to "Tip Calculator and Bill Splitter", "http://www.bryanttunbutr.com/bill_splitter.html" %>
<p>This is my first AngularJS Site. It is a real-time tip calculator with bill splitting capability.
</p>

<br>
<%= link_to "99 Bottles of Beer", "http://www.bryanttunbutr.com/bottles.html" %>
<p>In honor of Labor Day, I recreated this folk song with JQuery and JavaScript.
</p>

<br>
<%= link_to "TV Shows with AngularJS", "http://www.bryanttunbutr.com/tv_shows.html" %>
<p>This used AngularJS and was based on this <%= link_to "tutorial", "http://www.revillweb.com/tutorials/angularjs-in-30-minutes-angularjs-tutorial/" %>.
This site demonstrates AngularJS features such as controllers, scopes, and bindings.
</p>

<br>
<%= link_to "Etch a Sketch", etch_a_sketch_path %>
<p>This idea came from <%= link_to "The Odin Project", "http://www.theodinproject.com/web-development-101/javascript-and-jquery" %>.
  It is JavaScript and JQuery DOM manipulation with colorful results.
</p>

<br>
<%= link_to "Web Help Homepage", "http://www.bryanttunbutr.com/web_help.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was the first step towards emulating <%= link_to "this site", "http://www.frontendwebhelp.com/html-css-tips-tricks/job-interview-technical-test-examples.php" %>.
</p>

<br>
<%= link_to "Pomodoro Timer with Improved Styling", "http://www.bryanttunbutr.com/pomodoro.html" %>
<p>This site used the same JavaScript and JQuery code as this
<%= link_to "previous site", countdown_path %>. I used Bootstrap to imitate elements of this superb
<%= link_to "Pomodoro Timer", "https://www.persevy.com/" %>.
</p>

<br>
<%= link_to "Bootstrap Features", "http://www.bryanttunbutr.com/bootstrap.html" %>
<p>This used Bootstrap and was based on this <%= link_to "video", "https://www.youtube.com/watch?v=e6VYRVRoC40" %>.
This site demonstrates Bootstrap features such grid layouts, responsive design, and Scrollspy.
</p>

<br>
<%= link_to "Pomodoro Sign In", "http://www.bryanttunbutr.com/pomodoro_signin.html" %>
<p>This used Bootstrap and was based on this <%= link_to "page", "https://www.persevy.com/users/sign_in" %>.
This site used nested grid layouts and responsive design.</p>

<br>
<%= link_to "Bootstrap Layout", "http://www.bryanttunbutr.com/layout.html" %>
<p>This used Bootstrap and was based on this <%= link_to "video", "https://www.youtube.com/watch?v=no-Ntkc836w" %>.
This site demonstrates Bootstrap features such panels, navs, and responsive design.
</p>

<br>
<%= link_to "Cozar Page", "http://www.bryanttunbutr.com/cozar.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this <%= link_to "this site", "http://cozar.me/" %>.
</p>

<br>
<%= link_to "W3 Schools Bootstrap", "http://www.bryanttunbutr.com/w3schools.html" %>
<p>This used Bootstrap and was based on this <%= link_to "course", "http://www.w3schools.com/bootstrap/default.asp" %>.
This site demonstrates Bootstrap features such Contextual Classes, Responsive Embed, and Badges.
</p>

<br>
<%= link_to "W3 Schools Bootstrap 2", "http://www.bryanttunbutr.com/w3schools2.html" %>
<p>This used Bootstrap and was based on this <%= link_to "course", "http://www.w3schools.com/bootstrap/default.asp" %>.
This site demonstrates Bootstrap features such Navbars, Dropdown Menus, and Forms.
</p>

<br>
<%= link_to "Web Help Homepage 2", "http://www.bryanttunbutr.com/web_help2.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was another step towards emulating <%= link_to "this site", "http://www.frontendwebhelp.com/html-css-tips-tricks/job-interview-technical-test-examples.php" %>.
  The first step can be found <a href="http://www.bryanttunbutr.com/web_help.html">here</a>.
</p>

<br>
<%= link_to "Contact Page", "http://www.bryanttunbutr.com/contact.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this
<%= link_to "image", "https://bryanttunbutr.wordpress.com/2015/09/18/contact-page" %>.
</p>

<br>
<%= link_to "Made Page", "http://www.bryanttunbutr.com/made.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this <%= link_to "this site", "http://www.madetogether.com.au/" %>.
</p>

<br>
<%= link_to "Sitepoint Bootstrap", "http://www.bryanttunbutr.com/sitepoint.html" %>
<p>This used Bootstrap and was based on this <%= link_to "Bootstrap 2.0 tutorial", "http://www.sitepoint.com/responsive-web-design-tips-bootstrap-css/" %>.
This site demonstrates Bootstrap features such Glyphicons, Grid Layouts, and Collapsible Nav Bars.
</p>

<br>
<%= link_to "Lightbox", "http://www.bryanttunbutr.com/lightbox.html" %>
<p>This site used <%= link_to "JQuery Lightbox", "http://lokeshdhakar.com/projects/lightbox2/" %>
  to overlay images on top of the current page.
  See for yourself by clicking on an image.
</p>

<br>
<%= link_to "Fireworks", "http://www.bryanttunbutr.com/fireworks.html" %>
<p>This site used HTML Canvas with JavaScript and was based on this <%= link_to "walkthrough", "http://thecodeplayer.com/walkthrough/canvas-fireworks-tutorial" %>.
  For more information about what the fireworks represent, visit my <%= link_to "blog entry", "https://bryanttunbutr.wordpress.com/2015/09/22/fireworks/" %>.
</p>

<br>
<%= link_to "Architects", "http://www.bryanttunbutr.com/architects.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this Bootstrap 2 <%= link_to "site", "http://www.hydearchitects.com/" %>.
</p>

<br>
<%= link_to "Found My Pet", "http://www.bryanttunbutr.com/found_my_pet.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this Bootstrap <%= link_to "site", "http://www.foundmyanimal.com/" %>.
</p>

<br>
<%= link_to "Microsemi", "http://www.bryanttunbutr.com/microsemi.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this <%= link_to "site", "http://www.microsemi.com/" %>.
</p>

<br>
<%= link_to "404 Page", "http://www.bryanttunbutr.com/404.html" %>
<p>This used Bootstrap and was based on this <%= link_to "UX advice", "https://webdesignviews.com/simple-and-effective-404-page/" %>.
This site demonstrated the importance of giving the user a clear path when he or she is lost.
</p>

<br>
<%= link_to "Make It Rain Landing Page", "http://www.bryanttunbutr.com/make_rain.html" %>
<p>This site used Bootstrap and was based on this <%= link_to "lesson", "http://www.williamghelfi.com/blog/2013/08/04/bootstrap-in-practice-a-landing-page/" %>.
  This landing page demonstrated the power of a simple User Interface combined with questions that lead logically and emotionally to a Call to Action (signup and button click).
</p>

<br>
<%= link_to "Bootstrap 2 Portfolio", "http://www.bryanttunbutr.com/quicksand.html" %>
<p>This site used the JQuery Quicksand Plugin and was based on this <%= link_to "demonstration", "http://untame.net/2013/05/how-to-build-a-sortable-image-gallery-with-bootstrap-jquery/" %>.
</p>

<br>
<%= link_to "Happy Together", "http://www.bryanttunbutr.com/happy_together.html" %>
<p>This site used <%= link_to "JQuery Tubular", "http://www.seanmccambridge.com/tubular/" %>
  to play the Turtles "Happy Together" in the background.
</p>

<br>
<%= link_to "JQuery Portfolio", "http://www.bryanttunbutr.com/portfolio.html" %>
<p>This site used JQuery to create a filterable portfolio and was based on this <%= link_to "layout", "http://code.tutsplus.com/tutorials/creating-a-filterable-portfolio-with-jquery--net-2907" %>.
</p>

<br>
<%= link_to "To Dos with AngularJS", "http://www.bryanttunbutr.com/todos.html" %>
<p>This used AngularJS and was based on this <%= link_to "video", "https://www.youtube.com/watch?v=FSOiVprDdj0" %>.
This site demonstrates AngularJS features such as controllers, directives, and forms.
</p>

<br>
<%= link_to "Creative Portfolio", "http://www.bryanttunbutr.com/creative_portfolio.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this <%= link_to "layout", "http://startbootstrap.com/template-overviews/creative/" %>.
</p>

<br>
<%= link_to "Responsive Panel", "http://www.bryanttunbutr.com/panel.html" %>
<p>This site was based on this <%= link_to "walkthrough", "https://www.youtube.com/watch?v=oxGmXOKazw0" %>.
This site demonstrated that CSS, media queries, and JQuery can achieve a responsive design.
</p>

<br>
<%= link_to "Pet Shop", "http://www.bryanttunbutr.com/pet_shop.html" %>
<p>This site used JavaScript, JQuery, and Bootstrap.
  My goal is to rebuild this site in the future but with AngularJS instead of JQuery...
</p>

<br>
<%= link_to "AngularJS in Twenty Minutes", "http://www.bryanttunbutr.com/twenty_min.html" %>
<p>This used AngularJS and was based on this <%= link_to "introduction", "https://www.youtube.com/watch?v=tnXO-i7944M" %>.
This site demonstrates AngularJS features such as controllers, filters, and modules.
</p>

<br>
<%= link_to "Active Landing Page", "http://www.bryanttunbutr.com/active.html" %>
<p>This site used Bootstrap and was based on this <%= link_to "template", "http://ironsummitmedia.github.io/startbootstrap-landing-page/" %>.
  This landing page shows what I do for fun outside of coding.
</p>

<br>
<%= link_to "AngularJS Calculator", "http://www.bryanttunbutr.com/calculator.html" %>
<p>This used AngularJS and was based on this <%= link_to "example", "http://www.seguetech.com/blog/2015/01/09/simple-application-using-Angularjs" %>.
This site demonstrates AngularJS features such as scopes, directives, and two-way binding.
</p>

<br>
<%= link_to "Stylish Portfolio", "http://www.bryanttunbutr.com/stylish_portfolio.html" %>
<p>This site used HTML, CSS, and Bootstrap. It was an emulation of elements from this <%= link_to "layout", "http://startbootstrap.com/template-overviews/stylish-portfolio/" %>.
</p>

<br>
<%= link_to "AngularJS Retirement Calculator", "http://www.bryanttunbutr.com/compound_interest.html" %>
<p>This site is an improved version of the <a href="http://www.bryanttunbutr.com/calculations/index">Compound Interest Calculator</a>
  because it performs the calculations instantly.
</p>

<br>
<%= link_to "AngularJS Countdown Timer", "http://www.bryanttunbutr.com/timer.html" %>
<p>This site is a basic Countdown Timer with Resume and Stop functionality.</p>

<br>
<%= link_to "AngularJS Random Quotes", "http://www.bryanttunbutr.com/quotes.html" %>
<p>This site used AngularJS directives including ng-click to display quotes.
  JavaScript was used to select random array properties.
</p>

<br>
<%= link_to "AngularJS Retirement Calculator 2", "http://www.bryanttunbutr.com/compound_interest2.html" %>
<p>This site is an improved version of the <a href="http://www.bryanttunbutr.com/compound_interest.html">Compound Interest Calculator</a>
  because it displays the yearly earnings and total earnings instantly.
</p>

<br>
<%= link_to "AngularJS Currency Calculator", "http://www.bryanttunbutr.com/currency.html" %>
<p>This used AngularJS and was based on this <%= link_to "documentation", "https://docs.angularjs.org/guide/concepts" %>.
This site demonstrates AngularJS features such as Dependency Injection, Factory Functions, and Controllers.
</p>

<br>
<%= link_to "Creative Portfolio 2", "http://www.bryanttunbutr.com/creative_portfolio2.html" %>
<p>This site used HTML, CSS, and Bootstrap. It is an upgrade from this <%= link_to "portfolio site", "http://www.bryanttunbutr.com/creative_portfolio.html" %>
  because it uses JQuery to categorize the websites.
</p>

<br>
<%= link_to "String Interview Problems", "http://www.bryanttunbutr.com/string_problems.html" %>
<p>This site has demonstrations of a few common String Interview Questions solved with JavaScript.
</p>

<br>
<%= link_to "AngularJS Routing", "http://www.bryanttunbutr.com/routing" %>
<p>This used AngularJS and was based on this <a href="http://codepen.io/CarterTsai/pen/tfjqu">example</a>.
This site demonstrates AngularJS features such as Route Service, Templates, and Controllers.
</p>

<br>
<%= link_to "Curtains", "http://www.bryanttunbutr.com/curtains" %>
<p>This was built with JQuery Easing and was based on this <a href="http://buildinternet.com/2009/07/animate-curtains-opening-with-jquery/">tutorial</a>.
  This animation provides a link to my <a href="https://bryanttunbutr.wordpress.com/2015/10/17/curtains/">lessons</a> learned from 75 days of building sites.
</p>

<br>
<%= link_to "AngularJS Templates", "http://www.bryanttunbutr.com/templates" %>
<p>This used AngularJS and was based on this <a href="https://scotch.io/tutorials/single-page-apps-with-angularjs-routing-and-templating">walkthrough</a>.
This site demonstrates AngularJS features such as Routes, Templates, and Controllers.
</p>

<br>
<%= link_to "AngularJS Routes", "http://www.bryanttunbutr.com/routes" %>
<p>This used AngularJS and was based on this in-depth <a href="http://viralpatel.net/blogs/angularjs-routing-and-views-tutorial-with-example/">explanation</a>.
This site demonstrates AngularJS features such as Routing, Templates, and Views.
</p>

<br>
<%= link_to "AngularJS Clock", "http://www.bryanttunbutr.com/clock2.html" %>
<p>This used AngularJS and was based on this Stackoverflow <a href="http://stackoverflow.com/questions/23383233/how-to-make-a-ticking-clock-time-in-angularjs-and-html">post</a>.
This site demonstrates AngularJS features such as Intervals, Promises, and Services.
</p>













<br>
<h4>And More to Come...</h4>
