<p id="notice"><%= notice %></p>

<h1>Flashcards</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td><%= flashcard.question %></td>

      <td>
        <div class="accordion-flashcard">
          <h3>Answer</h3>
          <div class="accordion-answers">
            <%= flashcard.answer %>
          </div>
        </div>
      </td>
      <td><%= button_to "Edit", edit_flashcard_path(flashcard), :method => :get %></td>
      <td><%= button_to "Delete", flashcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="accordion-expand-holder">
  <button type="button" class="open">Show All Answers</button>
  <button type="button" class="close">Hide All Answers</button>
</div>

<!-- <button class="button" id="showAllAnswers">Show All Answers</button> -->
<%= button_to "New Flashcard", new_flashcard_path, :class => "button", :method => :get  %>
