<p id="notice"><%= notice %></p>

<h1>Pet Likes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
          <!-- <td><%= image_tag pet.pet_pic.url(:thumb) %></td> -->

        <td><%= link_to pet do %>
            <%= image_tag pet.pet_pic.url(:thumb)  %>
          <% end %></td>
        <!-- <td><%= link_to 'Show', pet %></td> -->
        <!-- <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

            <!-- <td><span id="ajaxed"><%=pluralize(pet.votes.count, "like")%></span></td> -->
            <!-- <td><span id="ajaxed_<%= pet.id %>"></span></td> -->
            <td><span id="ajaxed_<%= pet.id %>"><%=pluralize(pet.votes.count, "like")%></span></td>
            <!-- <td><%= pluralize(pet.votes.count, "like") %></td> -->
            <!-- <td><%= button_to 'Like', upvote_pet_path(pet), method: :post %></td> -->
            <td><%= button_to 'Like', upvote_pet_path(pet), remote: true, method: :post %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
