
<h1> Word Scramble </h1>
<h3></h3>
the Scrambled Word
<%= @word.scramble_word() %>
The word
<%= @word.word %>


        <div class='input-area'>
          <input id='letter-input' type='text' />
        </div>

<%= form_tag( method: "get") do %>
  <%= label_tag(:guess, "Search for:") %>
  <%= text_field_tag(:guess) %>
  <%= submit_tag("Search") %>
<% end %>


<%= form_tag(word_scramblers_path, :method => :post, :remote => true) do %>
<!-- <%= text_field_tag(:a, nil) %> -->
<br>
<%= submit_tag "Get the Scrambled Word", :name => "sub"  %>

<br>
<span id="new-word"></span>
<br>
<span id="scrambled-new-word"></span>

<% end %>



<div class="row">
  <div class="col-md-6 col-md-offset-2" id="guess-form" style="display:none;"></div>
</div>
