<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<div id="errors">
  <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.label "Superhero Name" %><br>
<%= f.text_field :name %><br>
<br>
<%= f.label "Secret Identity" %><br>
<%= f.text_field :secret %><br>
<br>
<%= f.label :avatar %><br>
<%= f.file_field :avatar %><br>
<br>
<%= f.submit %>
<% end %>
