<h1 class="title">
	<%= @post.name %> is...
</h1>

<%= image_tag @post.avatar.url(:medium) %>

<% if user_signed_in? %>
<h3 class="secret">
	<%= @post.secret %>
</h3>

<p class="author">
	Posted by <%= @post.user.name %>
</p>
<% else %>
<p>
	<%= link_to 'Sign In', new_user_session_path %> or
	<%= link_to 'Sign Up', new_user_registration_path %> to see the Secret Identity
</p>
<% end %>


	<%= link_to 'Index', root_path(@post) %>

<% if @post.user == current_user %>
 |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<% if user_signed_in? %>
<br>
<%= link_to 'Add Another Secret', new_post_path %> |
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% end %>
