
  <div class="container">


    <%= link_to "Bryant Tunbutr", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Helpful Resources",   resources_path %></li>

        <li>
          <%= link_to(raw("Projects" +("<span class= 'caret'></span>")), "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}) %>


          <!-- <li class="dropdown"> <a (<%= link_to "Projects", projects_path %>) class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a> -->

          <!-- <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activity <span class="caret"></span></a> -->

          <ul class="dropdown-menu" role="menu">

            <li><%= link_to "Project Descriptions",  projects_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Superhero Secrets",   posts_path %></li>
            <li><%= link_to "Carousel Pics",  carousel_path %></li>
            <li><%= link_to "Contact",   new_contact_form_path %></li>
            <li><%= link_to "Lite-Brite",   litebrite_path %></li>

            </ul>
          </li>

        </li>

      </ul>
    </nav>
  </div>
