<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% if current_page?(root_path) %>
    <%= render 'layouts/home_header' %>
  <% elsif current_page?(resources_path) %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/plain_header' %>
  <% end %>


    <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
    </div>
    <% elsif alert %>
    <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>




  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
